/*Dashboard CSS*/
.sidebar
{
	height:100%;
	z-index:1000;
	order:0;
	background-color:#F5F5F6;	
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
body
{
	height:100%;
	width:100%;
	overflow-x:hidden;
}
.nav-tabs
{
	text-align:center;
	border:1px solid lightgrey;
}
.nav-tabs .nav-link
{
	border-top-left-radius:0px !important;
    border-top-right-radius:0px !important;
	z-index:4 !important;
}
.nav-tabs .nav-link.active
{
	box-shadow:0 0 0 1px rgba(0, 0, 0, .1) inset;
	z-index:0 !important;
}
.img-center 
{
    display: block;
    margin: 0 auto;
	width:35%;
	border-radius:50%;
	padding-top:10px;
}
.online::before
 {
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color:#ABFF00;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
 .contact
{
	margin-top:72px;
	overflow-y:scroll;
	height:250px;
}
li.list-group-item:last-child
{
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
}
li.list-group-item:first-child
{
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}
	
.icon
{
	margin-right:6px;
	margin-left:-14px;
}
.nav>li>a.item
{
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-link.active 
{
    color: #495057;
    background-color: #fff;
    border-right:1.5px solid lightgrey !important;
	border-bottom:1.5px solid lightgrey !important;
	z-index:2 !important;
}
.card 
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.btn.option
{
	float:right;
	padding:0px;
}
.maincontent
{
	background-image:url('video.png');	
	box-shadow: inset 100vw 100vh rgba(0, 0, 0, 0.5);	
	background-repeat:no-repeat;
	background-position: center center;	
	background-size:cover;
	order:1;
}
.footer
{
	bottom: 30px;
	position: absolute;
	height: 150px;
	width: 100%;
}
.hungup
{
	height:54px;
	width:54px;
	border-radius:50% !important;
	border:1px solid red !important;
	padding:0px !important;
	background-color:red !important;
	color:white !important;
}

.cam,.mic
{	
	height:54px;
	width:54px;	
	border-radius:50% !important;
	border:1px solid transparent !important;
	padding:0px !important;
	background-color:rgba(0,0,0,0.38) !important;
	color:white !important;
}
.video-control
{
	font-size:24px !important;
	padding:13px !important;
	font-weight:normal !important;
	line-height:normal !important;
}

.profile-item
{
	width:100%;
	height:auto;
	background: #25A9CC;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.img-container 
{
    width: 100%;
    height: 150px;
    text-align: center;
}
.img-container img 
{
    border-radius: 50%;
    border: 3px solid #fff;
    margin-top: 20px;
    width: 96px;
}
.pro-name
{
	width: 100%;
	height: auto;
	background: #fff;
}
.pro-name p
{	
	font-size: 15px;
    text-align:center;
    line-height: 42px;
    margin-bottom: 0px;
}	
div.search-bar input[type=text] 
{
    padding: 6px;
    font-size: 17px;
    border: 1px solid lightgrey;
    float: left;
    width: 85%;
    background: #f1f1f1;
}
div.search-bar button
{
    float: left;
    width: 15%;
    padding:6px 12px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid lightgrey;
    border-left: none;
    cursor: pointer;
}	
div.search-bar button:hover 
{
  background: #0b7dda;
}
